.btnCreateMessage{
  color: #ffffff;
  background-color: var(--color-one-white);
  border: none;
  padding: 5px 10px;
  margin-left: 1rem;
}
.btnListContainer{
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.btnListMessage{
  border: none;
  width: 6rem;
  background-color: var(--color-one-white);
  color: #ffffff;
  padding: 5px;
}
.containerTableMessage{
  margin-top: 1rem;
  height: 30rem;
  overflow: scroll;
}
