.btnCreateMessage{
  color: #ffffff;
  background-color: var(--color-one-white);
  border: none;
  padding: 5px 10px;
  margin-left: 1rem;
}
.containerTableMessage{
  margin-top: 1rem;
  height: 30rem;
  overflow: scroll;
}
/* Estilos para el contenedor de los botones */
.btnListContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Estilos para los botones */
.btnListMessage {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color-one-white);
  color: #ffffff;
  border: none;
  margin: 0 0.5rem;
  cursor: pointer;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
  /* Ajuste de estilo para los botones */
  .btnListMessage {
    margin: 0.5rem;
    width: 100%;
  }
}