@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --color-one: #174b72;
  --color-one-white: #1f6194;
  --color-two: #4a0d10;
  --color-two-white: #8b191e;
  --color-tree: #80888b;
  --color-tree-white: #c3cfd3;
  --color-red: #e21520;
  --font-one: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-one);
  font-size: 16px;
}
.btnRed{
  border: none;
  background-color: #e21520;
  color: #ffffff;
  &:hover{
    background-color: #8b191e;
  }
}
.btnGreen{
  border: none;
  background-color: #0adf4a;
  color: #ffffff;
  &:hover{
    background-color: #0cc543;
  }
}
.viewWindow{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  overflow: hidden;
  &>button{
    width: 10rem;
    padding: .5rem 0;
    position: relative;
    top: -2rem;
  }
}